#root {
  max-width: 75vw;
  width: 75vw;
  margin: 0 auto;
  padding: 2rem;
}

.card {
  padding: 2rem;
  border: black solid 1px;
  border-radius: 1rem;
}

.lobby-list-header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

