.lobby-list {
    padding: 0;
    margin: 0;
    list-style: none;
    width: 100%;
}

.lobby-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
}

.lobby-item.clickable {
    cursor: pointer;
    transition: all 0.1ms ease;
}

.lobby-item.full {
    color: gray;
}

.lobby-item.clickable:hover {
    background-color: cadetblue;
}

.lobby-item.header {
    font-weight: bold;
    background-color: #f5f5f5;
}

.lobby-item > * {
    flex: 1;
    text-align: left;
}

.lobby-item > p {
    text-align: right;
    margin: 0;
}